$primary-color: #fff;
$button-color: #FF4343;

$active-color: #E71414;
$hover-color: #BABBC5;

$title-color: #2D3033;
$text-color: #6C7279; 

$primary-font: "Raleway", sans-serif;



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@mixin font($fontSize, $lineHeight, $color, $fontFamily: $primary-font) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.container{
    max-width: 1210px;
	width: 100%;
    margin: 0 auto;
	padding: 0 20px;
}

.testimonial{
	margin-bottom: 122px;
	padding-bottom: 45px;

	@media(max-width: 1024px){
		margin-bottom: 77px;
	}
	@media(max-width: 767px){
		margin-bottom: 34px;
	}

	&__contant{
		display: grid;
		grid-template-columns: 49% 51%;


		@media(max-width: 1024px){
			grid-template-columns: 49% 51%;
		}
		@media(max-width: 767px){
			display: block;
			text-align: center;
		}
	}
	&__wrapper-image{
		display: flex;
		align-items: center;
	}
	&__image{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__text{
		background-color: #5C3249;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px 50px 10px 10px;

		@media(max-width: 1024px){
			padding: 47px 109px 110px 83px;
		}
		@media(max-width: 767px){
			padding: 23px 20px 95px;
		}
	}
	&__quote{
		@include font(36px, 49px, $primary-color);
		font-family:"Cardo", serif;
		margin-bottom: 24px;
		font-style: italic;
		text-transform: capitalize;
		max-width: 471px;
		width: 100%;

		@media(max-width: 1024px){
			@include font(24px, 32px, $primary-color);
			font-family:"Cardo", serif;
		}
		@media(max-width: 767px){
			@include font(24px, 32px, $primary-color);
			font-family:"Cardo", serif;
			margin-bottom: 23px;
			text-align: center;
			max-width: 100%;
		}
	}
	&__author{
		@include font(13px, 15px, $primary-color);
		text-transform: uppercase;
		font-weight: 700;
		max-width: 471px;
		width: 100%;

		@media(max-width: 1024px){
			@include font(12px, 14px, $primary-color);
		}
		@media(max-width: 767px){
			@include font(12px, 14px, $primary-color);
			max-width: 100%;
		}
	}
	.swiper-pagination-bullet{
		width: 14px;
		height: 14px;
		border: 1px solid #7E5D6F;
		border-radius: 50%;
		background-color: transparent;
		opacity: 1;
	}
	.swiper-pagination-bullet-active{
		background-color: #7E5D6F;
	}

	.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
		bottom: 0;
		display: flex;
		justify-content: center;
		column-gap: 25px;
	}
	.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
		margin: 0;
	}
}
