* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    max-width: 984px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 280px;
  }
}

.header {
  position: relative;
  padding: 38px 0 36px;
  z-index: 2;
}
@media (max-width: 320px) {
  .header {
    padding: 21px 0 0;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
}
@media (max-width: 320px) {
  .header__logo {
    width: 103px;
  }
  .header__logo svg {
    height: auto;
    max-height: 14px;
  }
}
.header .navigation__icon {
  display: none;
}
@media (max-width: 320px) {
  .header .navigation__icon {
    display: block;
    cursor: pointer;
  }
}
.header__items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-left: auto;
}
.header__item {
  min-width: 134px;
  padding: 0 5px;
  text-align: center;
}
.header__item:hover {
  border-bottom: 3px solid #BABBC5;
  width: 134px;
  margin-bottom: -38px;
}
.header__item:active {
  border-bottom: 3px solid #E71414;
  width: 134px;
  margin-bottom: -38px;
}
@media (max-width: 1024px) {
  .header__item {
    min-width: 112px;
  }
}
@media (max-width: 320px) {
  .header__item {
    display: none;
  }
}
.header__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.header__link:active {
  font-size: 13px;
  line-height: 15px;
  color: #E71414;
  font-family: "Raleway", sans-serif;
}
.header .line {
  border: 1px solid #BABBC5;
  width: 1170px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .header .line {
    width: 984px;
  }
}
@media (max-width: 320px) {
  .header .line {
    display: none;
  }
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-image: url(/media/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 43, 73, 0.8);
}
.banner__title {
  position: relative;
  font-size: 64px;
  line-height: 75px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 230px;
  padding-bottom: 31px;
}
@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    margin-top: 257px;
    padding-bottom: 62px;
  }
}
@media (max-width: 320px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    margin-top: 106px;
    padding-bottom: 32px;
  }
}
.banner__subtitle {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-bottom: 79px;
}
@media (max-width: 1024px) {
  .banner__subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    margin-bottom: 89px;
  }
}
@media (max-width: 320px) {
  .banner__subtitle {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    margin-bottom: 49px;
  }
}
.banner__button {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #FF4343;
  max-width: 370px;
  width: 100%;
  padding: 24px 10px;
  display: block;
  margin: 0 auto;
  border: none;
}
.banner__button:hover {
  background-color: #E71414;
}
.banner__button:active {
  background-color: #FF4343;
  box-shadow: 3px 3px 20px 5px rgba(255, 67, 67, 0.8);
}
@media (max-width: 1024px) {
  .banner__button {
    max-width: 314px;
  }
}
@media (max-width: 320px) {
  .banner__button {
    max-width: 280px;
    padding: 14px 10px;
  }
}

.features {
  margin-top: 100vh;
  margin-bottom: 116px;
}
@media (max-width: 1024px) {
  .features {
    margin-bottom: 80px;
  }
}
@media (max-width: 320px) {
  .features {
    margin-bottom: 35px;
  }
}
.features__container {
  display: grid;
  row-gap: 88px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1024px) {
  .features__container {
    row-gap: 49px;
  }
}
@media (max-width: 320px) {
  .features__container {
    display: block;
  }
}
.features__item {
  text-align: center;
}
@media (max-width: 320px) {
  .features__item {
    margin-bottom: 41px;
  }
}
.features__wrapper-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: auto 134px 29px;
}
@media (max-width: 1024px) {
  .features__wrapper-icon {
    width: 85px;
    height: 84px;
    margin: auto 115px 24px;
  }
}
@media (max-width: 320px) {
  .features__wrapper-icon {
    width: 75px;
    height: 74px;
    margin: auto 102px 21px;
  }
}
.features__title {
  font-size: 24px;
  line-height: 28px;
  color: #2D3033;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: 22px 20px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .features__title {
    font-size: 18px;
    line-height: 21px;
    color: #2D3033;
    font-family: "Raleway", sans-serif;
    padding: 19px 20px;
    margin-bottom: 4px;
  }
}
@media (max-width: 320px) {
  .features__title {
    font-size: 18px;
    line-height: 21px;
    color: #2D3033;
    font-family: "Raleway", sans-serif;
    padding: 16px 20px;
    margin-bottom: 0;
  }
}
.features__text {
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 1024px) {
  .features__text {
    font-size: 14px;
    line-height: 16px;
    color: #6C7279;
    font-family: "Raleway", sans-serif;
  }
}
@media (max-width: 320px) {
  .features__text {
    font-size: 14px;
    line-height: 16px;
    color: #6C7279;
    font-family: "Raleway", sans-serif;
  }
}

.work {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}
@media (max-width: 320px) {
  .work {
    grid-template-columns: repeat(2, 1fr);
  }
}
.work__item {
  max-width: 379px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.work__item:nth-last-child(-n+4) {
  margin-bottom: 114px;
}
@media (max-width: 320px) {
  .work__item:nth-last-child(-n+4) {
    margin-bottom: 0;
  }
  .work__item:nth-last-child(-n+2) {
    margin-bottom: 35px;
  }
}
.work__item:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 67, 67, 0.8);
}
.work__item:active::after {
  background-color: rgba(185, 12, 12, 0.8);
}
.work__item:hover .work__content {
  display: flex;
}
.work__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 0;
}
.work__content {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.work__title {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 10px;
  margin-top: 110px;
}
@media (max-width: 1024px) {
  .work__title {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    margin-top: 84px;
    padding: 0;
  }
}
@media (max-width: 320px) {
  .work__title {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    margin-top: 46px;
    padding: 0;
  }
}
.work__text {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .work__text {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    margin-top: 22px;
  }
}
@media (max-width: 320px) {
  .work__text {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    margin-top: 0;
    margin-bottom: 56px;
  }
}

.team {
  margin-bottom: 124px;
}
@media (max-width: 1024px) {
  .team {
    margin-bottom: 78px;
  }
}
@media (max-width: 320px) {
  .team {
    margin-bottom: 41px;
  }
}
.team__conteiner {
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1024px) {
  .team__conteiner {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (max-width: 320px) {
  .team__conteiner {
    display: block;
  }
}
.team__avatar-box {
  padding-bottom: 30px;
}
@media (max-width: 1024px) {
  .team__avatar-box {
    padding-bottom: 27px;
  }
}
@media (max-width: 320px) {
  .team__avatar-box {
    padding-bottom: 25px;
  }
}
.team__avatar {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__info {
  padding-bottom: 38px;
}
@media (max-width: 1024px) {
  .team__info {
    padding-bottom: 39px;
  }
}
@media (max-width: 320px) {
  .team__info {
    padding-bottom: 55px;
  }
}
.team__name {
  font-size: 24px;
  line-height: 28px;
  color: #2D3033;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding-bottom: 5px;
}
@media (max-width: 1024px) {
  .team__name {
    font-size: 18px;
    line-height: 21px;
    color: #2D3033;
    font-family: "Raleway", sans-serif;
  }
}
@media (max-width: 320px) {
  .team__name {
    font-size: 18px;
    line-height: 21px;
    color: #2D3033;
    font-family: "Raleway", sans-serif;
  }
}
.team__role {
  font-size: 18px;
  line-height: 21px;
  color: #FF4343;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  padding-bottom: 18px;
}
@media (max-width: 1024px) {
  .team__role {
    font-size: 14px;
    line-height: 16px;
    color: #FF4343;
    font-family: "Raleway", sans-serif;
    padding-bottom: 22px;
  }
}
@media (max-width: 320px) {
  .team__role {
    font-size: 14px;
    line-height: 16px;
    color: #FF4343;
    font-family: "Raleway", sans-serif;
    padding-bottom: 36px;
  }
}
.team__text {
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 1024px) {
  .team__text {
    font-size: 14px;
    line-height: 16px;
    color: #6C7279;
    font-family: "Raleway", sans-serif;
  }
}
@media (max-width: 320px) {
  .team__text {
    font-size: 14px;
    line-height: 16px;
    color: #6C7279;
    font-family: "Raleway", sans-serif;
  }
}
.team__socials {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
@media (max-width: 320px) {
  .team__socials {
    -moz-column-gap: 6px;
         column-gap: 6px;
    padding-bottom: 49px;
  }
}
.team .social__link {
  text-align: center;
  border: 1px solid #C6CBCD;
  max-width: 39px;
  width: 100%;
  padding: 8px 8px;
}
@media (max-width: 1024px) {
  .team .social__link {
    max-width: 33px;
    padding: 5px 5px;
  }
}

.testimonial {
  margin-bottom: 122px;
  padding-bottom: 45px;
}
@media (max-width: 1024px) {
  .testimonial {
    margin-bottom: 77px;
  }
}
@media (max-width: 320px) {
  .testimonial {
    margin-bottom: 34px;
  }
}
.testimonial__contant {
  display: grid;
  grid-template-columns: 49% 51%;
}
@media (max-width: 1024px) {
  .testimonial__contant {
    grid-template-columns: 46% 54%;
  }
}
@media (max-width: 320px) {
  .testimonial__contant {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.testimonial__wrapper-image {
  display: flex;
  align-items: center;
}
.testimonial__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial__text {
  background-color: #5C3249;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px 10px 10px;
}
@media (max-width: 1024px) {
  .testimonial__text {
    padding: 47px 109px 110px 83px;
  }
}
@media (max-width: 320px) {
  .testimonial__text {
    padding: 23px 25px 95px 20px;
  }
}
.testimonial__quote {
  font-size: 36px;
  line-height: 49px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-family: "Cardo", serif;
  margin-bottom: 24px;
  font-style: italic;
  text-transform: capitalize;
  max-width: 471px;
  width: 100%;
}
@media (max-width: 1024px) {
  .testimonial__quote {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-family: "Cardo", serif;
    padding-bottom: 24px;
  }
}
@media (max-width: 320px) {
  .testimonial__quote {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-family: "Cardo", serif;
    padding-bottom: 23px;
    text-align: center;
  }
}
.testimonial__author {
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 471px;
  width: 100%;
}
@media (max-width: 1024px) {
  .testimonial__author {
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    font-family: "Raleway", sans-serif;
  }
}
@media (max-width: 320px) {
  .testimonial__author {
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    padding: 3px;
  }
}
.testimonial .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border: 1px solid #7E5D6F;
  border-radius: 50%;
  background-color: transparent;
  opacity: 1;
}
.testimonial .swiper-pagination-bullet-active {
  background-color: #7E5D6F;
}
.testimonial .swiper-horizontal > .swiper-pagination-bullets, .testimonial .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  display: flex;
  justify-content: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.testimonial .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .testimonial .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}/*# sourceMappingURL=style.css.map */